*.bin
*.dat
*.dato
*.e
*.geo
*.h5
*.h5m
*.msh
*.off
*.pvtu
*.pyc
*.xdmf
*.xmf
*.xml
.cache/
MANIFEST
README.rst
# Ignore build artifacts but keep the tracked configure scripts
# (an ignored *directory* cannot have re-included children, so use build/*).
build/*
!build/configure.sh
!build/configure.bat
build-tests/
build-omp/
build-tbb/
# CMake FetchContent downloads (e.g. GoogleTest) land here inside a build dir
_deps/
dist/
doc/_build/
*.egg-info/
.pytest_cache/
.coverage
.tox/
foo.vtk
.vscode/
