useDynLib(meshioplusplus, .registration = TRUE, .fixes = "")

S3method(print, mio_mesh)
S3method(print, mio_xdmf_series)

export(mio_add_cell_block)
export(mio_add_field_data)
export(mio_add_point_data)
export(mio_add_polygon_block)
export(mio_add_polyhedron_block)
export(mio_add_region)
export(mio_agglomerate)
export(mio_append_cell_data)
export(mio_attach_quality)
export(mio_cell_block_info)
export(mio_cell_block_type)
export(mio_cell_block_types)
export(mio_cell_data)
export(mio_cell_data_names)
export(mio_cell_data_num_blocks)
export(mio_cell_type_dimension)
export(mio_cell_type_num_nodes)
export(mio_clean)
export(mio_compute_bandwidth)
export(mio_compute_sdf)
export(mio_connectivity)
export(mio_connectivity_raw)
export(mio_conservative_interpolate)
export(mio_convert)
export(mio_convert_cells)
export(mio_crop_bbox)
export(mio_crop_plane)
export(mio_crop_predicate)
export(mio_data_calc)
export(mio_data_cell_to_point)
export(mio_data_condition)
export(mio_data_drop)
export(mio_data_info)
export(mio_data_integrate)
export(mio_data_keep)
export(mio_data_point_to_cell)
export(mio_data_rename)
export(mio_decimate)
export(mio_diff)
export(mio_distance_to_surface)
export(mio_estimate_error)
export(mio_extract_skin)
export(mio_extract_surface)
export(mio_field_data)
export(mio_field_data_names)
export(mio_format_readable)
export(mio_format_writable)
export(mio_gradient)
export(mio_grid)
export(mio_hessian)
export(mio_interpolate)
export(mio_is_open)
export(mio_isosurface)
export(mio_last_error)
export(mio_merge)
export(mio_mesh)
export(mio_mesh_backend)
export(mio_meshes_equal)
export(mio_num_cell_blocks)
export(mio_num_cells)
export(mio_num_points)
export(mio_optimize_volume)
export(mio_partition)
export(mio_partition_labels)
export(mio_pipeline_has_json)
export(mio_pipeline_run_file)
export(mio_pipeline_run_json)
export(mio_point_data)
export(mio_point_data_names)
export(mio_point_dim)
export(mio_points)
export(mio_polygon_block)
export(mio_polyhedron_block)
export(mio_provenance_note)
export(mio_provenance_source)
export(mio_provenance_target)
export(mio_quality_counts)
export(mio_read)
export(mio_read_metadata)
export(mio_reader_supports_options)
export(mio_refine)
export(mio_regions)
export(mio_release)
export(mio_remesh)
export(mio_remesh_volume)
export(mio_reorder)
export(mio_sample_distance)
export(mio_sequence)
export(mio_sequence_count)
export(mio_sequence_free)
export(mio_sequence_list)
export(mio_sequence_path)
export(mio_sequence_pipeline_run_file)
export(mio_sequence_pipeline_run_json)
export(mio_sequence_read)
export(mio_sequence_step)
export(mio_sequence_time)
export(mio_sequence_time_source)
export(mio_sequence_to_timeseries)
export(mio_set_points)
export(mio_slice)
export(mio_smooth)
export(mio_sniff_format)
export(mio_split)
export(mio_stats)
export(mio_subdivide)
export(mio_surface_watertight_check)
export(mio_timeseries_to_sequence)
export(mio_transform)
export(mio_undo_green)
export(mio_version)
export(mio_voxelize)
export(mio_with_provenance)
export(mio_write)
export(mio_xdmf_series)
export(mio_xdmf_series_finalize)
export(mio_xdmf_series_finalized)
export(mio_xdmf_series_flush)
export(mio_xdmf_series_is_open)
export(mio_xdmf_series_num_steps)
export(mio_xdmf_series_release)
export(mio_xdmf_series_write_data)
export(mio_xdmf_series_write_points_cells)
